*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #564d;
}
.main{
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
}
.main div{
    width: 100px;
    height: 100px;
    background: orange;
    border-radius: 8px;
}
.square{
    animation: top-down 5s ease-out infinite;
}
.square2{
    background: violet !important;
    border-radius: 4px !important;
    animation: rotation 5s infinite cubic-bezier(0.47,-0.41, 0.38, 1.2);
}
.round{
    border-radius: 50% !important;
    background: rgb(34, 0, 128) !important;
    animation: rightt 5s infinite linear ;
}

@keyframes top-down {
    0%{
        transform: translateY(0)
        /* transform: rotate(15deg); */
        /* transform: rotate3d(1, 1, 1, 45deg); */
        /* width: 50px; */
    }
    25%{
        transform: translateY(-100px);
    }
    50%{
        transform: translateY(50px)
        /* transform: rotate(165deg); */
        /* width: 150px; */
    }
    75%{
        transform: translateY(150px)
    }
    100%{
        transform: translateY(0)
        /* transform: rotate(15deg); */
        /* transform: rotate3d(5, 5, 5, 145deg); */
        /* width: 50px; */
    }
}
@keyframes rotation {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(75deg);
    }
    50%{
        transform: rotate(150deg);
    }
    75%{
        transform: rotate(200deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@keyframes rightt {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(50px);
    }
    50%{
        transform: translateX(100px);
    }
    75%{
        transform: translateX(150px);
    }
    100%{
        transform: translateX(0);
    }
}

